body {
    background-color: black;
}

p {
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
}

footer {
    color: aliceblue;
    text-align: center;
    padding-top: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic bold;
    font-size: xx-large;
}